html {
height: 100%;
overflow-x:hidden;
overflow-y:hidden;
}
body
{
font:76% Verdana,Tahoma,sans-serif;
color:#000;
}
input {
	border: 1px solid;
	font:100% Verdana,Tahoma,sans-serif;
}
div.center span {
	font-size:20px;
        text-shadow: 0.1em 0.1em 0.05em #fff;
}

div.center {
margin-top:14%;
text-align: center;
}
div.center div, div.center p, div.center table, div.center form {
text-align: left; margin-left: auto; margin-right: auto;
}
div.center input[type=text], div.center input[type=password] {
	width:200px;
	height:25px;
	font-size:20px;
}
div.center input[type=button] {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width:120px;
    height:30px;
    font-size:20px;
    background-image: -webkit-linear-gradient(top,#C1E68F,#95D06C);
    background-image: -moz-linear-gradient(top,#C1E68F,#95D06C);
    background-image: -o-linear-gradient(#C1E68F,#95D06C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1E68F, endColorstr=#95D06C);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#C1E68F, endColorstr=#95D06C)";
}
div.center input[type=button]:hover
{
    background-image: -webkit-linear-gradient(top,#99cc56,#95D06C);
    background-image: -moz-linear-gradient(top,#99cc56,#95D06C);
    background-image: -o-linear-gradient(#99cc56,#95D06C);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99cc56, endColorstr=#95D06C);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99cc56, endColorstr=#95D06C)";
}
#loading {
        position:absolute;
    	font-size:12px;
        top:0px;
        left: 0%;
        width:100%;
        background-color:#EDEDED;
}

#login {
width:300px;
height:135px;
border:1px solid;
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
#reset_password {
width:500px;
height:135px;
border:1px solid;
-webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#reset_password span {
 text-align: justify;
 font-size: 12px;
 letter-spacing: 0.1em;
}

#reset_password input[type=text] {
   width:300px;
   height:25px;
   font-size:20px;
}
#reset_password input[type=button] {
   width:50px;
   height:35px;
   font-size:20px;
}

#into_reset {
 padding: 10px 10px 15px 20px;
}
label
{
width: 4em;
float: left;
text-align: right;
margin-right: 0.5em;
display: block;
font-size:20px;
}
.submit input
{
margin-left: 4.5em;
}

input.checkbox { border: none }
textarea { border: 1px solid; }
select { border: 1px solid; }
input:focus { border: 1px dotted; }
input.error { border: 1px dotted;}
a:link {color: #000;}
a:visited {color: #000;}
a:active {color: #000;}
#another {
    display:none;
}