body
{
background:#d8e6ed;
font:76% Verdana,Tahoma,sans-serif;
color:#000;
}
input {
	border: 1px solid;
	font:100% Verdana,Tahoma,sans-serif;
}
div.center span {
	font-size:20px;	
}
div.center {
margin-top:13%;
text-align: center;
}
div.center div, div.center p, div.center table, div.center form {
text-align: left; margin-left: auto; margin-right: auto;
}
div.center input[type=text], div.center input[type=password] {
	width:300px;		
	height:25px;
	font-size:20px;
}
div.center input[type=submit] {
	width:120px;		
	height:30px;
	font-size:20px;
}

a:link {color: #000;}
a:visited {color: #000;}
a:active {color: #000;}
